In [2]:
import cohere
import pandas as pd
import requests
import datetime
from tqdm import tqdm
import sys
sys.path.append('../')
import sys
import os
from scripts.processing import process_tokens
import cohere

In [5]:
train_df = pd.read_json('../data/job_description_train.json')
test_df = pd.read_json('../data/job_description_test.json')

In [4]:
train_df

,document,tokens,relations
0,Bachelor's degree in Mechanical Engineering or...,"[{'text': 'Bachelor', 'start': 0, 'end': 8, 't...","[{'child': 4, 'head': 0, 'relationLabel': 'DEG..."
1,10+ years of software engineering work experie...,"[{'text': '10+ years', 'start': 0, 'end': 9, '...","[{'child': 4, 'head': 0, 'relationLabel': 'EXP..."
2,3+ years Swift & Objective-C and experience wi...,"[{'text': '3+ years', 'start': 0, 'end': 8, 't...","[{'child': 3, 'head': 0, 'relationLabel': 'EXP..."
3,8+ years experience in software engineering le...,"[{'text': '8+ years', 'start': 0, 'end': 8, 't...","[{'child': 5, 'head': 0, 'relationLabel': 'EXP..."
4,BS degree in Computer Science or related field...,"[{'text': 'BS', 'start': 0, 'end': 2, 'token_s...","[{'child': 3, 'head': 0, 'relationLabel': 'DEG..."
5,8+ years of development experience with Python...,"[{'text': '8+ years', 'start': 0, 'end': 8, 't...","[{'child': 4, 'head': 0, 'relationLabel': 'EXP..."
6,Strong problem solving and analytical skills i...,"[{'text': '2+ years', 'start': 773, 'end': 781...","[{'child': 129, 'head': 125, 'relationLabel': ..."
7,"Experience in backend services, systems, and d...","[{'text': 'BS/MS', 'start': 66, 'end': 71, 'to...","[{'child': 15, 'head': 11, 'relationLabel': 'D..."
8,experience: 5 + years of full-stack software d...,"[{'text': '5 + years', 'start': 12, 'end': 21,...","[{'child': 6, 'head': 2, 'relationLabel': 'EXP..."
9,BS in Electrical Engineering or Computer Engin...,"[{'text': 'BS', 'start': 0, 'end': 2, 'token_s...","[{'child': 2, 'head': 0, 'relationLabel': 'DEG..."
10,"Basic : Programming experience in C#, Java, or...","[{'text': 'BS', 'start': 51, 'end': 53, 'token...","[{'child': 14, 'head': 12, 'relationLabel': 'D..."
11,Bachelor's Degree in Computing Science or a re...,"[{'text': 'Bachelor', 'start': 0, 'end': 8, 't...","[{'child': 4, 'head': 0, 'relationLabel': 'DEG..."
12,1+ years development experience on Java stack ...,"[{'text': '1+ years', 'start': 0, 'end': 8, 't...","[{'child': 3, 'head': 0, 'relationLabel': 'EXP..."
13,\n5+ years of software engineering work experi...,"[{'text': '5+ years', 'start': 1, 'end': 9, 't...","[{'child': 5, 'head': 1, 'relationLabel': 'EXP..."
14,"Experience being technical, hands-on and a peo...","[{'text': '8+ years', 'start': 425, 'end': 433...","[{'child': 73, 'head': 66, 'relationLabel': 'E..."
15,Experience with Golang (Go Programming Languag...,[],[]
16,Experience with C/C++ and Python. Experience w...,[],[]
17,Basic : A BS/MS in Computer Science or related...,"[{'text': 'BS/MS', 'start': 10, 'end': 15, 'to...","[{'child': 7, 'head': 3, 'relationLabel': 'DEG..."
18,"Skills & : Exceptional management skills, with...","[{'text': 'BA/BS degree', 'start': 447, 'end':...","[{'child': 82, 'head': 77, 'relationLabel': 'D..."
19,include: Bachelor of Mechanical Engineering or...,"[{'text': 'Bachelor', 'start': 9, 'end': 17, '...","[{'child': 4, 'head': 2, 'relationLabel': 'DEG..."
20,A successful member of our team will have: 5 +...,"[{'text': '5 + years', 'start': 43, 'end': 52,...","[{'child': 13, 'head': 9, 'relationLabel': 'EX..."
21,BA/BS degree 7+ years experience in brand and/...,"[{'text': '7+ years', 'start': 13, 'end': 21, ...","[{'child': 9, 'head': 4, 'relationLabel': 'EXP..."

In [8]:
train_df['label'] = train_df['tokens'].apply(process_tokens)
test_df['label'] = test_df['tokens'].apply(process_tokens)

In [10]:
train_df['label'][0]

'DIPLOMA:Bachelor\nDIPLOMA_MAJOR:Mechanical Engineering,Physical Science\nEXPERIENCE:3+ years\nSKILLS:developing,fiber optic cables,connector related products\n'

<b>`Preprocessing`<b>

In [17]:
train_txt = []
for i in range(train_df.shape[0]):
    ent = train_df.label.iloc[i]
    docu = train_df.document.iloc[i].replace("\n"," ")
    if len(ent)!=0:
        train_txt.append(docu+"\n\nExtracted Text:" +
                        '\n'+ent+"----\n")
    
with open('../data/entities.txt','w') as f:
    for item in train_txt:
        # write each item on a new line
        f.write("%s\n" % item.strip())
    print('Preprocess Done')

Preprocess Done

In [16]:
test_df.document[0]

'\nCurrently holding a faculty, industry, or government researcher position.\nPh.D. and publications in machine learning, AI, computer science, statistics, applied mathematics, data science, or related technical fields.\nExperience leading a team in solving analytical problems using quantitative approaches.\nExperience manipulating and analyzing data from different sources.\nExperience in theoretical and empirical research and for answering questions with research.\nAbility to communicate research for public audiences of peers.\nKnowledge in a programming language.\nAbility to obtain and maintain work authorization in the country of employment in 2018.\n\nPREFERRED \n1+ year(s) of work experience in a university, industry, or government lab(s), in a role with primary emphasis on AI research.\nExperience driving original scholarship in collaboration with a team.\nFirst-author publications at peer-reviewed AI conferences (e.g. NIPS, CVPR, ICML, ICLR, ICCV, and ACL).\nExperience in developing and debugging in C/C++, Python, C# and/or Java.'

In [18]:
test_txt = test_df.document.apply(
    lambda x: x.replace("\n", " ")+'\n\nExtracted Text:').to_list()

<b>`Get API key`<b>

In [4]:
sys.path.append('../')

from  config import api_cohere
api_key= api_cohere['api_key']
# api_key = pd.read_json("../config/apikey.json")['cohere_key'][0]
co = cohere.Client(api_key)

<b>`Run the model`<b>